@font-face {
    font-family: 'proxima_nova_altbold';
    src: url('../fonts/proxima_nova_alt_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_altlight';
    src: url('../fonts/proxima_nova_alt_light.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_altthin';
    src: url('../fonts/proxima_nova_alt_thin.woff2') format('woff2'),
         url('../fonts/proxima_nova_alt_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novablack';
    src: url('../fonts/proxima_nova_black.woff2') format('woff2'),
         url('../fonts/proxima_nova_black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novabold';
    src: url('../fonts/proxima_nova_bold.woff2') format('woff2'),
         url('../fonts/proxima_nova_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novaextrabold';
    src: url('../fonts/proxima_nova_extrabold.woff2') format('woff2'),
         url('../fonts/proxima_nova_extrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novathin';
    src: url('../fonts/proxima_nova_thin.woff2') format('woff2'),
         url('../fonts/proxima_nova_thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novaregular';
    src: url('../fonts/proximanova-regular.woff2') format('woff2'),
         url('../fonts/proximanova-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}